.section {
	justify-self: center;
	margin: 1rem 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	width: 250px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.name {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 3rem;
	font-weight: 400;
}
.price {
	text-align: center;
}

.order {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 3rem;
	padding: 2rem;
}

.foto {
	height: 200px;
	overflow: hidden;
}

.foto img {
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}

.foto:hover img {
	transform: scale(1.1);
}

.section:hover > .foto {
	background-size: 110%;
}
