.btn {
	border: 2px solid var(--accent);
	border-radius: 5px;
	background: var(--accent);

	color: var(--white);
	font-weight: 800;
	text-transform: uppercase;

	height: 40px;
	padding: 0.5rem 1rem;
	margin: 0.1rem;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in-out;
}

.btn:hover,
.btn:active {
	background: var(--active);
	border-color: var(--active);
}

.btn:active {
	transform: translateY(1px);
	box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.full {
	width: 100%;
}

.btnSecondary {
	background: var(--white);
	color: var(--accent);
}
.btnSecondary:hover,
.btnSecondary:active {
	background: var(--active);
	color: var(--white);
}
