.cartBtn {
	position: fixed;
	right: 5px;
	border: 1px solid var(--accent);
	border-radius: 5px;
	background: var(--accent);

	color: var(--white);
	font-weight: 800;
	text-transform: uppercase;
	width: 70px;
	height: 70px;
	padding: 0.5rem;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: background-color 0.2s ease-in-out;
}

.cartBtn:hover,
.cartBtn:active {
	background: var(--active);
	border-color: var(--active);
}

.cartBtn:active {
	transform: translateY(1px);
	box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}
