@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap');

:root {
	--black: #1f1f1f;
	--coal: #8d8d8d;
	--white: #fefefe;
	--gray: rgba(255, 255, 255, 0.9);
	--dark: hsl(1, 1, 30%);
	--accent: hsl(12, 50%, 50%);
	--active: hsl(12, 80%, 70%);
	--error: hsl(12, 40%, 80%);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Merriweather Sans', sans-serif;
	color: var(--black);
	font-weight: 300;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
